<div class="puzzle-container">
  <h3>Matt Shannon</h3>
  <h1 style="color: #000; text-align: center;">{{ title }}</h1>
  <h3><a class="link"><i (click)="openUrl()">Repository</i></a></h3>
  <p>{{ directions }}</p>
  <div id="puzzle">
    <canvas #puzzlecanvas style="margin: 0 auto; position: relative;">
      Sorry, your browser does not support the canvas tag.
    </canvas>
    <div class='small-text'>{{ imageTitle }}</div>
    <div>
      <a [href]='userPort' target='_blank'>{{ userName }}</a>
    </div>
    <h3 style='margin-top: 20px;'>Move Count</h3>
    <h1>{{ moveCount }}</h1>
    <!-- <button class="button2" (click)="createPuzzleWithImage()">Solve</button> -->
  </div>
  <div id="help-image">
    <img *ngIf="!isItemVisible" [src]="image?.urls.small" [alt]='image?.location?.title' />
  </div>
</div>